{% extends "bootstrap/base.html" %}
{% block title %}stubborn{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="py-5 text-center">
    <h1>stubborn</h1>
    <p class="lead">Start building your own crypter</p>
</div>
<form method=post enctype=multipart/form-data class="custom-form">
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <h4 class="mb-3">Select Executable</h4>
        <div class="d-block my-3">
          <div class="custom-control custom-file">
           <input type="file" id="file" name="file" class="custom-file-input form-control-file">
           <label class="custom-file-label" for="file">Choose file...</label>
          </div>
        </div>

        <hr class="mb-4">

        <h4 class="mb-3">Target Executable</h4>
        <div class="d-block my-3">
            <label>
                <select class="custom-select">
                  <option selected value="same">Same executable file</option>
                  <option value="calc">calc.exe</option>
                  <option value="svchost">svchost.exe</option>
                  <option value="runtimebroker">RuntimeBroker.exe</option>
                </select>
            </label>
        </div>

        <hr class="mb-4">

        <h4 class="mb-3">Build Type</h4>
        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="release" name="buildType" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="release">Release</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debug" name="buildType" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="debug">Debug</label>
          </div>
        </div>

        <hr class="mb-4">

        <h4 class="mb-3">Key Options</h4>
        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="randomKey" name="keyType" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="randomKey">Randomly generated key</label>
          </div>
          <div class="custom-control custom-number">
            <label for="keyLength" class="col-form-label">Key Length</label>
            <input class="form-control" type="number" value="32" min="1" id="keyLength">
          </div>
        </div>
        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="userKey" name="keyType" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="userKey">Custom Key</label>
          </div>
          <div class="custom-control custom-text">
            <label for="userKeyValue">Name on card</label>
            <input type="text" class="form-control" id="userKeyValue" placeholder="Supersecret key!">
            <small class="text-muted">This should be used for debugging purposes only</small>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Build your crypter!</button>
    </div>
  </div>
</div>
</form>
{#<div class="container">#}
{#  <div class="row">#}
{#    <div class="col-md-8 offset-md-2">#}
    <div class="pt-5 text-center">
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018-2019 Oriol Castejón</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
{#  </div>#}
{#</div>#}
{% endblock %}
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>#}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
$('#file').on('change',function(){
    console.log("hello there");
    var fileName = $(this).val();
    $(this).next('.custom-file-label').html(fileName.replace(/^.*[\\\/]/, ''));
});
</script>
{#<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>#}
{#<script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>#}
{#<script src="form-validation.js"></script>#}
{{super()}}
{% endblock %}

